<template name="Home">
	

	<section id="headline">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>YOUR<br><strong>BUSINESS<br>IN PRODUCTION</strong><br>ON METEOR</h1>
					<div class="by-line">developed &amp; delivered</div>
				</div>
				<div class="col-md-6">
					<br>
					<div class="by-line">&nbsp;by</div>
					<div class="company-name">Useful IO</div>
				</div>
			</div>
		</div>
		<a href="#contact" id="contact-button" class="contact-button btn btn-link" data-toggle="adaptive-modal" data-am-custom-bgcolor="#03a9f4">
			<span class="fa fa-send"></span> 
		</a>
	</section>
	
	<section id="stack">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-push-8">
					<h3>The Luxury to <strong>Stay Focused on the Benefits</strong> You Want to Provide to Your Customers.</h3>
					<p>
						We continually improve our process and tools transparently so you can focus on your business value without worrying about the implementation.
					</p>
					<p class="hidden-md hidden-sm hidden-xs">
						It's "big team" process without the big team overhead or cost.
					</p>
				</div>
				<div class="col-md-8 col-md-pull-4">
					<div class="row">
						<a href="http://modulus.io" target="_blank">
							<div class="col-md-4 stack-item bg-first">
								<p class="category">
									<span class="fa fa-laptop"></span> 
									Application Servers
								</p>
								<p class="details">
									We run staging and production apps on the best-in-class <strong>Modulus.io</strong> platform.<br><br>Scalable. Affordable. Maintanable.
								</p>
							</div>
						</a>
						<a href="http://mongohq.com" target="_blank">
							<div class="col-md-4 stack-item bg-second">
								<p class="category">
									<span class="fa fa-database"></span> 
									Database Servers
								</p>
								<p class="details">
									<strong>MongoHQ</strong> database hosting gets you access to the latest features at reasonable prices with rock-solid dependability.<br><br>Affordable. Scalable. Backed-up.
								</p>
								
							</div>
						</a>
						<a href="http://codeship.io" target="_blank">
							<div class="col-md-4 stack-item bg-third">
								<p class="category">
									<span class="fa fa-shield"></span> 
									Automated Testing
								</p>
								<p class="details">
									You deserve maintainable code that any good developer can help out with in the future. We use <strong>Codeship.io</strong> to keep our standards high and ensure only working code is deployed to your servers.
								</p>
							</div>
						</a>
						<a href="http://kadira.io" target="_blank">
							<div class="col-md-4 stack-item bg-fourth">
								<p class="category">
									<span class="fa fa-bar-chart-o"></span> 
									Performance Monitoring
								</p>
								<p class="details">
									<strong>Kadira</strong> let's us analyze your app's performance and tune-it to fit the behavior of your real users.<br><br>Less guessing, more doing.
								</p>

							</div>
						</a>
						<a href="http://github.com" target="_blank">
							<div class="col-md-4 stack-item bg-fifth">
								<p class="category">
									<span class="fa fa-code-fork"></span> 
									Source Control
								</p>
								<p class="details">
									<strong>Github</strong> is the standard. But the way we use it encourages collaboration, peer review and easier transitions of your intellectual property.
								</p>
							</div>
						</a>
						<a href="http://trello.com" target="_blank">
							<div class="col-md-4 stack-item bg-sixth">
								<p class="category">
									<span class="fa fa-tasks"></span> 
									Project Management
								</p>
								<p class="details">
									We've found through experience that <strong>Trello</strong> provides the right balance between describing the business value you care about and what developers need to build your features.
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1 class="text-primary">Useful Services</h1>
					<h3>We know what it takes to get from idea to production, because we do it for our own apps.</h3>
					<h3 class="text-muted">The help you need, if you need it.</h3>
					<div id="services-details" class="panel-group">
						<a data-toggle="collapse" data-parent="#services-details" href="#vision">
							<div class="panel panel-default">
								<div class="panel-body">
									<h3>Discovering Your Vision<br><small>We're entrepreneurs ourselves.</small></h3>
									<div id="vision" class="panel-collapse collapse">
										<p>
											Starting out or planning version 10? Doesn't matter. The most important thing you can do for your business is talk to and understand your customers' real issues.
										</p>
										<p>
											Before you spend your resources building an app, <strong>you should be confident you've got good product/market fit.</strong>
										</p>
										<p>
											We actually know how to conduct in-depth interviews with your current customers and survey potentials to help uncover the best opportunities to serve your market.
										</p>
										<p>
											Deliverables at this stage include detailed breakdowns of your existing business processes, prioritized customer needs and mutually agreed on MVP plans.
										</p>
									</div>
								</div>
							</div>
						</a>
						<a data-toggle="collapse" data-parent="#services-details" href="#design">
							<div class="panel panel-default">
								<div class="panel-body">
									<h3>Designing Your Experience<br><small>We're partners with an awesome UI firm.</small></h3>
									<div id="design" class="panel-collapse collapse">
										<p>
											You get quality user experience and flows baked-in for free.
										</p>
										<p>
											However, if you want the extra spit and polish that turns a well-functioning app into a beautiful app, you can also engage our design partners.
										</p>
										<p>
											You benefit from not having to find and evaluate your own design firm, negotiate your own prices and manage the communication because we already go together like peanut butter and jelly.
										</p>
										<p>
											Faster. Better. <strong>Beautiful-er.</strong>
										</p>
									</div>
								</div>
							</div>
						</a>
						<a data-toggle="collapse" data-parent="#services-details" href="#development">
							<div class="panel panel-default">
								<div class="panel-body">
									<h3>Developing Your Meteor App<br><small>Is our bread and butter.</small></h3>
									<div id="development" class="panel-collapse collapse">
										<p>
											The Meteor framework speeds the development of next-generation applications and user experiences.
										</p>
										<p>
											We've been writing production web and mobile applications exclusively in Meteor since 2012.
										</p>
										<p>
											We've also presented at Meteor HQ multiple times, contributed to early versions of some of the most used community packages and are continually innovating based on <em>necessity</em>.
										</p>
										<p>
											The rest of the time we spend <strong>building and iterating real apps</strong>, with a specific focus on e-commerce.
										</p>
									</div>
								</div>
							</div>
						</a>
						<a data-toggle="collapse" data-parent="#services-details" href="#v-next">
							<div class="panel panel-default">
								<div class="panel-body">
									<h3>Continually Improving<br><small>Helping you plan and launch vNext.</small></h3>
									<div id="v-next" class="panel-collapse collapse">
										<p>
											The truth is, the best businesses continually listen to their customers and iterate their products.
										</p>
										<p>
											As soon as you solve one problem for your clients you'll move onto the next.
										</p>
										<p>
											Because we've built analytics into your app from the get-go we can help you find the low-hanging fruit and pick it. Or find the next big thing and build it.
										</p>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div id="integrations">
						<h3 class="text-muted">SOME OF THE TECHNOLOGIES WE'VE INTEGRATED METEOR WITH ALREADY.</h3>
						<div class="row">
							<div class="technology">
								<img src="/img/balancedpayments.png">
							</div>
							<div class="technology">
								<img src="/img/stripe.png">
							</div>
							<div class="technology">
								<img src="/img/braintree.png">
							</div>
							<div class="technology">
								<img src="/img/shopify.png">
							</div>
							<div class="technology">
								<img src="/img/cordova.png">
							</div>
							<div class="technology">
								<img src="/img/mailgun.png">
							</div>
							<div class="technology">
								<img src="/img/ink.png">
							</div>
							<div class="technology">
								<img src="/img/s3.png">
							</div>
							<div class="technology">
								<img src="/img/saasu.png">
							</div>
							<div class="technology">
								<img src="/img/java.png">
							</div>
							<div class="technology">
								<img src="/img/transcoder.png">
							</div>
							<div class="technology">
								<img src="/img/sqs.png">
							</div>
							<div class="technology">
								<img src="/img/famous.png">
							</div>
							<div class="technology">
								<img src="/img/dynamodb.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="projects">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h1 class="text-center">How to Engage Useful IO</h1>
					<p>
						Simply contact us to set up a free consultation. We'll get to know you and your business, as well as answer any additional questions you have.
					</p>
					<p>
						<a href="#contact" class="contact-button btn btn-primary btn-large btn-block" data-toggle="adaptive-modal" data-am-custom-bgcolor="#03a9f4">
							Send Us an Engagement Inquiry
						</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	{{> ContactForm}}
</template>

<template name="ContactForm">
	<section id="contact" style="display: none;">
		<h2 class="text-center"><a href="mailto:projects@useful.io">projects@useful.io</a></h2>
		<h4 class="or-block">
			<span class="or">or</span>
			<hr>
		</h4>
		<form id="contact-form">
			<div class="form-group">
				<input name="name" class="form-control label-better" placeholder="Name">
			</div>
			<div class="form-group">
				<input name="email" class="form-control label-better" placeholder="Email">
			</div>
			<div class="form-group">
				<input name="description" class="form-control label-better" rows="4" data-new-placeholder="Project" placeholder="What problem are you trying to solve and why might Meteor be a good fit for your app?">
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-link">
					<span class="fa fa-send fa-4x"></span>
				</button>
			</div>
		</form>
	</section>
</template>