<template name="home">
	<div id="home">
		<div class="container">
			<h1 class="cursive text-center"><span class="fa fa-lightbulb-o fa-lg text-yellow"></span> Useful IO</h1>
			<h2 class="cursive text-center">
				Incubates web and mobile javascript applications.
			</h2>
			<h2>
				<br/><br/>
				We've helped launch 4 major public facing projects in 5 years. Srsly.
				<br/><br/>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-cloud-upload"></i> 2013 - <a href="http://flavorplease.com" title="Food Truck Catering">FlavorPlease</a> - Gourmet Food Trucks Now Bookable Online</li>
					<li><i class="fa-li fa fa-cloud-upload"></i> 2011 - <a href="http://personalcapital.com">PersonalCapital</a> - Personal Wealth Management App</li>
					<li><i class="fa-li fa fa-cloud-upload"></i> 2010 - <a href="http://blurb.com">Blurb</a> - Online Hi-Fidelity Bookmaking App</li>
					<li><i class="fa-li fa fa-cloud-upload"></i> 2009 - <a href="http://vokle.com">Vokle</a> - Live Many-to-Many Video Platform</li>
				</ul>
				<br/>
				Say hi: info@useful.io
				<br/><br/>
			</h2>
		</div>
	</div>
</template>